@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v34-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #fff;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1670px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.site_header {
  padding: 28px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_list {
  width: 606px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_list-item {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132.9%;
  letter-spacing: 0.05em;
}

.nav_list-item a {
  color: #ffffff;
  padding-bottom: 2px;
}

.nav_list-item a:active {
  text-decoration: underline;
}

.nav_list-item a:hover {
  text-decoration: underline;
}

.menu-link {
  display: none;
}

.laptop-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #e5e5e5;
  padding: 159px 70px;
}

.modal-list {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.close-btn {
  width: 13px;
  border: none;
  background-color: inherit;
  position: absolute;
  left: 540px;
  top: 35px;
}

.modal-item a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  color: #000000;
}

.open {
  display: block;
}

#menu2 {
  display: none;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}

.icons-list_item a img {
  width: 27px;
  height: 27px;
}

.login-modal {
  position: absolute;
  top: -600px;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-wrapper {
  position: absolute;
  left: 320px;
  background: #ffffff;
  border-radius: 40px;
  padding: 50px 40px;
}

.form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.form-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}

.login-close_btn {
  border: none;
  background: #f5f5f5;
  border-radius: 40px;
  padding: 20.64px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.user-name-inpt {
  width: 886px;
  text-align: left;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 41px 0 41px 128px;
  background-image: url(/icons/loginbefore.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 68px;
}

.user-name-inpt::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-name-inpt::-moz-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-name-inpt:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-name-inpt::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-name-inpt::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-password-inpt {
  width: 886px;
  text-align: left;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 41px 0 41px 128px;
  background-image: url(/icons/password.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 68px;
}

.user-password-inpt::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-password-inpt::-moz-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-password-inpt:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-password-inpt::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.user-password-inpt::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.login-btn {
  border: none;
  background-color: #70908b;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  border-radius: 30px;
  padding: 41px 0;
}

@media screen and (max-width: 1024px) {
  .nav_list {
    display: none;
  }
  .login-modal {
    display: none;
  }
  .menu-link {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .modal-item a {
    font-size: 47px;
    line-height: 64px;
  }
  .laptop-modal {
    padding: 204px 50px;
  }
  .close-btn {
    left: 400px;
    top: 35px;
  }
}
@media screen and (max-width: 560px) {
  .menu-link {
    display: none;
  }
  .laptop-modal {
    padding: 73px 30px;
  }
  .modal-item a {
    font-size: 30px;
    line-height: 41px;
  }
  .close-btn {
    left: 35px;
    top: 35px;
  }
  #menu2 {
    display: block;
  }
}
.hero-section {
  padding: 190px;
  border-radius: 0 0 62px 0;
}

.header-wrap {
  background-image: url(/imgs/hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 167px;
}

.hero_content {
  max-width: 668px;
}

.hero_title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 54px;
  color: #07484a;
}

.hero_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #07484a;
  margin-bottom: 54px;
}

.hero_btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #fdfbf8;
  border: none;
  background-color: #70908b;
  border-radius: 10px;
  padding: 23.5px 54.5px;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    padding: 88px 0 176px 40px;
  }
  .hero_title {
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 16px;
  }
  .hero_content {
    max-width: 625px;
  }
  .hero_text {
    margin-bottom: 52px;
  }
}
@media screen and (max-width: 768px) {
  .hero-section {
    padding: 88px 0 176px 20px;
  }
}
@media screen and (max-width: 545px) {
  .hero-section {
    padding: 128px 16px 206px 16px;
  }
  .header-wrap {
    margin-bottom: 80px;
  }
  .hero_content {
    text-align: center;
  }
}
.category-section {
  padding: 100px 0 60px 0;
}

.category_title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 99px;
  color: #07484a;
}

.category_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.category_list-wrapper {
  max-width: 350px;
}

.category_inpt {
  max-width: 349px;
  border: none;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 26px 217px 26px 70px;
  background-image: url("/icons/categorySearch.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 32px;
  margin-bottom: 80px;
}

.category_inpt::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}

.category_inpt::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}

.category_inpt:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}

.category_inpt::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}

.category_inpt::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
}

.category_list_wrap {
  padding-left: 70px;
}

.category_list {
  border-right: 1px solid #07484a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 90px;
  margin-bottom: 80px;
}

.category_list-item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #07484a;
}

.category_btn {
  border: none;
  background-color: #70908b;
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 32px 87.1px 32px 50.29px;
  background-image: url(/icons/right_arrow.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 195px;
}

.category_imgs-wrap {
  max-width: 1211px;
}

.imgs_list {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 26px;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.imgs_list-item {
  position: relative;
}

.imgs_list-item:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.item_content {
  display: none;
  position: absolute;
  top: 73px;
  left: 95px;
  max-width: inherit;
  text-align: center;
}

.imgs_list-item:hover .item_content {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}

.item_name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  color: #fdfbf8;
  margin-bottom: 36px;
}

.item_btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
  border: none;
  background: #e0eff6;
  border-radius: 6px;
  padding: 14px 43px;
}

@media screen and (max-width: 1024px) {
  .category_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 99px;
  }
  .category_title {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 36px;
  }
  .category_list-wrapper {
    max-width: inherit;
    text-align: center;
  }
  .category_list {
    border: none;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 80px;
  }
  .category_list-item a:active {
    border-bottom: 3px solid #07484a;
  }
  .category_inpt {
    margin-bottom: 36px;
  }
  .imgs_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .imgs_list-item {
    max-width: 348px;
  }
  .item_name {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
  }
  .item_content {
    left: 157px;
  }
}
@media screen and (max-width: 661px) {
  .category-section {
    padding: 0;
  }
  .category_title {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 23px;
  }
  .category_inpt {
    padding: 16px 174px 16px 58px;
    margin-bottom: 11px;
  }
  .category_list {
    gap: 4px;
    margin-bottom: 0;
  }
  .category_content {
    gap: 60px;
  }
  .category_list-item a {
    display: inline-block;
    font-size: 12px;
    padding: 5px 12px;
    background-color: #f5f5f5;
    border-radius: 84px;
    line-height: 16px;
  }
  .category_btn {
    display: none;
  }
  .imgs_list {
    row-gap: 12px;
  }
  .imgs_list-item {
    max-width: 288px;
  }
}
.products-section {
  background-image: url("/imgs/products-bg.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(50% - 577px);
  padding: 0 0 100px 0;
}

.products-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  margin-bottom: 58px;
  color: #07484a;
}

.products_list-item:nth-child(1) {
  height: auto;
  background: #caf3e5;
  border-radius: 16px;
  padding: 84px 40px 60px 40px;
}
.products_list-item:nth-child(1) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 73px;
}
.products_list-item:nth-child(1) div img {
  width: 204px;
  height: 270px;
}

.products_list-item:nth-child(2) {
  height: auto;
  background: #e0eff6;
  border-radius: 16px;
  padding: 84px 40px 60px 40px;
}
.products_list-item:nth-child(2) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 51px;
}
.products_list-item:nth-child(2) div img {
  width: 248px;
  height: 294px;
}

.products_list-item:nth-child(3) {
  height: auto;
  background: #eeebff;
  border-radius: 16px;
  padding: 84px 40px 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products_list-item:nth-child(3) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 36px;
}
.products_list-item:nth-child(3) div img {
  width: 279px;
  height: 279px;
}

.products_list-item:nth-child(4) {
  height: auto;
  background: #fff4e7;
  border-radius: 16px;
  padding: 84px 40px 60px 40px;
}
.products_list-item:nth-child(4) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 93px;
}
.products_list-item:nth-child(4) div img {
  width: 165px;
  height: 280px;
}

.products_list-item-img {
  margin-bottom: 40px;
}

.products_button {
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 54px auto 0 auto;
  background: #70908b;
  border-radius: 10px;
  color: #ffffff;
  padding: 24px 76.71px 24px 38.29px;
  background-image: url("/icons/right_arrow.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(50% + 85px);
}

.products_lits-item_name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #70908b;
  margin-bottom: 28px;
}

.products_list-item_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
  margin-bottom: 18px;
}

.products_list-item_price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
}

.slick-list {
  overflow: hidden;
}
.slick-list button {
  display: none;
}

.slick-slider {
  position: relative;
  margin-left: 120px;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.slick-prev {
  position: absolute;
  bottom: -48px;
  right: 64px;
  border: none;
  background-image: url(/icons/prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 16.87px 15.08px;
  background-color: #e0eff6;
  border-radius: 100px;
}

.slick-next {
  position: absolute;
  bottom: -48px;
  right: 0;
  border: none;
  background-image: url(/icons/next.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 16.87px 15.08px;
  background-color: #f9d9da;
  border-radius: 100px;
}

@media screen and (max-width: 845px) {
  .products_list-item:nth-child(1) div {
    padding: 0 66px;
  }
  .products_list-item:nth-child(2) div {
    padding: 0 44px;
  }
  .products_list-item:nth-child(3) div {
    padding: 0 44px;
  }
  .products_list-item:nth-child(4) div {
    padding: 0 44px;
  }
}
.benefit {
  padding: 105px 0;
  background: #E0EFF6;
}

.benefit * {
  text-align: center;
}

.benefit__title {
  font-size: 64px;
  font-family: "Playfair Display";
  color: #07484A;
  margin-bottom: 114px;
}

.benefit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefit__item {
  width: 308px;
}

.benefit__item-icon {
  width: 107px;
}

.benefit__item-title {
  font-size: 36px;
  font-family: "Playfair Display";
  color: #07484A;
  margin: 32px 0;
}

.benefit__item-text {
  font-size: 24px;
  color: #07484A;
}

@media (max-width: 1024px) {
  .benefit__title {
    font-size: 48px;
  }
  .benefit__item-title {
    font-size: 24px;
  }
  .benefit__item-text {
    font-size: 18px;
  }
}
@media (max-width: 730px) {
  .benefit__title {
    font-size: 28px;
    margin: 0;
  }
  .benefit__item-title {
    margin: 41px 0;
  }
  .benefit__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefit__item-icon {
    margin-top: 104px;
  }
}
.testimonals * {
  color: #07484a;
}

.testimonals {
  padding: 100px 0;
  padding-bottom: 197px;
}

.testimonals__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 97px;
}

.testimonals__title {
  font-size: 64px;
  font-family: "Playfair Display";
}

.testimonals__text {
  font-size: 36px;
  line-height: 49.03px;
}

.top {
  margin-top: 54px;
}

.testimonals__img-box {
  position: relative;
}

.testimonals__img-box::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -80px;
  display: inline-block;
  background-image: url(/icons/Quote.svg);
  background-repeat: no-repeat;
  width: 161px;
  height: 121px;
}

.center {
  text-align: center;
}

.testimonals__bottom {
  margin-bottom: 107px;
}

.testimonals__img {
  width: 421px;
  height: 410px;
  margin-bottom: 28px;
}

.testimonals__author-title {
  margin-top: 95px;
  margin-bottom: 11px;
}

.testimonals__author-title,
.testimonals__CEO-text {
  font-size: 24px;
}

.testimonals__line-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonals__line-bold {
  width: 120px;
  border: 11px solid #70908b;
}

.testimonals__line {
  width: 1200px;
  border: 5px solid #07484a;
  margin-right: 78px;
}

.testimonals__line-text {
  font-family: "Roboto";
  font-size: 18px;
  margin-right: 17px;
}

.testimonals__line-box {
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .testimonals__title {
    font-size: 48px;
  }
  .testimonals__text {
    font-size: 24px;
    line-height: 29px;
  }
  .testimonals__author-title {
    margin-top: 65px;
  }
  .testimonals__line {
    width: 550px;
  }
  .testimonals__flex-box {
    gap: 51px;
  }
  .testimonals__img-box::before {
    left: -30px;
  }
}
@media (max-width: 768px) {
  .testimonals {
    padding-bottom: 177px;
  }
  .top {
    font-size: 18px;
  }
  .testimonals__flex-box {
    gap: 32px;
  }
  .testimonals__text {
    line-height: 23px;
  }
  .testimonals__author-title {
    margin-top: 32px;
  }
  .testimonals__line {
    width: 350px;
  }
}
@media (max-width: 730px) {
  .testimonals {
    padding-bottom: 157px;
  }
  .testimonals__title {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .testimonals__text {
    font-size: 18px;
    margin-top: 0;
  }
  .testimonals__flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonals__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .testimonals__arrow,
.testimonals__line-text {
    display: none;
  }
  .testimonals__img {
    width: 288px;
    height: 273px;
  }
  .testimonals__icon {
    width: 110px;
    height: 80px;
  }
  .testimonals__author-title {
    margin-top: 24px;
  }
  .testimonals__line-box {
    margin-top: 44px;
  }
  .testimonals__img-box::before {
    left: -15px;
  }
  .testimonals__line {
    margin: 0;
  }
}
.newsletter {
  background-color: #e0f6f1;
  background-image: url("../../imgs/newsletter.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 325px);
}

.newsletter__text-box {
  padding: 83px 0 83px 985px;
}

.newsletter__title {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #07484a;
}

.newsletter-bold {
  font-weight: 700;
}

.newsletter__text {
  font-size: 24px;
  font-family: "Roboto";
  color: #07484a;
  margin-top: 25px;
}

.newsletter__input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #c4c4c4;
  padding: 16px 20px;
  margin: 41px 0;
  border: none;
  border-bottom: 1px solid #000;
}

.newsletter__btn {
  cursor: pointer;
  border: none;
  font-size: 24px;
  padding: 20px 71px;
  border-radius: 6px;
  font-family: "Roboto";
  color: #fdfbf8;
  background: #70908b;
}

@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
}
@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 412px;
    height: 500px;
  }
  .newsletter__text-box {
    padding: 109px 40px;
  }
}
@media (max-width: 1024px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
  .newsletter__title {
    font-size: 48px;
  }
  .newsletter__text {
    font-size: 18px;
  }
}
.newsletter__img {
  width: 800px;
  height: 600px;
  background-position: center;
  background-image: url(/imgs/newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter__title {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #07484a;
}

.newsletter-bold {
  font-weight: 700;
}

.newsletter__text {
  font-size: 24px;
  font-family: "Roboto";
  color: #07484a;
  margin-top: 25px;
}

.newsletter__input {
  width: 500px;
  padding: 16px 20px;
  font-size: 24px;
  margin: 41px 0;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Roboto";
  background: #e0f6f1;
}

.newsletter__btn {
  cursor: pointer;
  border: none;
  font-size: 24px;
  padding: 20px 71px;
  border-radius: 6px;
  font-family: "Roboto";
  color: #fdfbf8;
  background: #70908b;
}

@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
}
@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 412px;
    height: 500px;
  }
  .newsletter__text-box {
    padding: 109px 40px;
  }
}
@media (max-width: 1024px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
  .newsletter__title {
    font-size: 48px;
  }
  .newsletter__text {
    font-size: 18px;
  }
}
.site_footer {
  padding: 100px 0 32px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.footer_social {
  width: 405px;
}

.footer_logo {
  display: block;
  margin-bottom: 21px;
}

.social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  margin-bottom: 21px;
}

.address_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.addres_name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
}

.address_item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.account_list,
.help_list,
.shop_list,
.stuff-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.account_name,
.help_name,
.shop_name,
.stuff_name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
}

.account_item,
.help-item,
.shop-item,
.stuff-item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
}

.account_list {
  width: 216px;
}

.help_list {
  width: 229px;
}

.shop_list {
  width: 194px;
}

.stuff-list {
  width: 176px;
}

.footer_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #07484a;
}/*# sourceMappingURL=main.css.map */