.newsletter {
  background-color: #e0f6f1;
  background-image: url("../../imgs/newsletter.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 325px);
}
.newsletter__text-box {
  padding: 83px 0 83px 985px;
}
.newsletter__title {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #07484a;
}
.newsletter-bold {
  font-weight: 700;
}
.newsletter__text {
  font-size: 24px;
  font-family: "Roboto";
  color: #07484a;
  margin-top: 25px;
}
.newsletter__input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #c4c4c4;
  padding: 16px 20px;
  margin: 41px 0;
  border: none;
  border-bottom: 1px solid #000;
}
.newsletter__btn {
  cursor: pointer;
  border: none;
  font-size: 24px;
  padding: 20px 71px;
  border-radius: 6px;
  font-family: "Roboto";
  color: #fdfbf8;
  background: #70908b;
}
@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
}
@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 412px;
    height: 500px;
  }
  .newsletter__text-box {
    padding: 109px 40px;
  }
}
@media (max-width: 1024px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
  .newsletter__title {
    font-size: 48px;
  }
  .newsletter__text {
    font-size: 18px;
  }
}
.newsletter__img {
  width: 800px;
  height: 600px;
  background-position: center;
  background-image: url(/imgs/newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
}
// .newsletter__text-box {
//   padding: 83px 120px;
//   background: #e0f6f1;
// }
.newsletter__title {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: 400;
  color: #07484a;
}
.newsletter-bold {
  font-weight: 700;
}
.newsletter__text {
  font-size: 24px;
  font-family: "Roboto";
  color: #07484a;
  margin-top: 25px;
}
.newsletter__input {
  width: 500px;
  padding: 16px 20px;
  font-size: 24px;
  margin: 41px 0;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Roboto";
  background: #e0f6f1;
}
.newsletter__btn {
  cursor: pointer;
  border: none;
  font-size: 24px;
  padding: 20px 71px;
  border-radius: 6px;
  font-family: "Roboto";
  color: #fdfbf8;
  background: #70908b;
}
@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
}
@media (max-width: 1562px) {
  .newsletter__img {
    max-width: 412px;
    height: 500px;
  }
  .newsletter__text-box {
    padding: 109px 40px;
  }
}
@media (max-width: 1024px) {
  .newsletter__img {
    max-width: 512px;
    height: 600px;
  }
  .newsletter__title {
    font-size: 48px;
  }
  .newsletter__text {
    font-size: 18px;
  }
}
