.package {
  background-color: white;
}

.spacial{
  padding: 200px 0;

  &__title{
    margin: 0;
    @include fonts(700,72px,96px,#07484A);
    @include textCenter;
    margin: 0 auto;
    margin-bottom: 103px;
  }

  &__wrap{
    display: flex;
    justify-content: space-between;
  }

  &__img{
    width: 822px;
    height: 656px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
  }

  &__left{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  &__leftBox{
    @include flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 21px;
  }

  &__innerTitle{
    @include fonts(400,36px,49px,#07484A);
  }

  &__addBtn{
    @include btn(#70908B,10px,#fff);
    @include fonts(400,18px,25px,#fdfbf8);
    padding: 15px 24px;
    display: flex;
    width: 189px;
    align-items: center;
    justify-content: space-between;
    border: none;
  }

  &__like{
    object-fit: cover;
    object-position: center;
  }

  &__price{
    letter-spacing: -0.02em;
    @include fonts(700,25px,115%, #07484A);
    margin-top: 21px;
  }

  &__desc{
    @include fonts(700,24px,115%,#07484A);
    letter-spacing: -0.02em;
    margin-bottom: 25px;
  }

  &__text{
    @include fonts(700,24px,115%,#07484A);
    letter-spacing: -0.02em;
    width: 850px;
  }

  &__seemore{
    border: none;
    background-color: transparent;
    @include fonts(600,18px,115%,#000);
    gap: 2px;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  &__seemoree{
    border: none;
    background-color: transparent;
    @include fonts(600,18px,115%,#000);
    gap: 2px;
  }

  &__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
  }

  &__likes{
    width: 17px;
    height: 17px;
    margin-right: 6px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &__likes:last-child{
    margin-right: 0;
  }

  &__leftBoxx{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link{
    text-decoration: none;
    color: #07484A;
  }

  &__innerTitlee{
    @include fonts(400,22px,29px,#07484A);
    margin: 0;
    margin-right: 9px;
  }

  &__pricee{
    @include fonts(700,25px,115%, #07484A);
  }

  &__Wrapper{
    padding: 34px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 32px;
  }

  &__Wrapperr{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
}

.bg{
  background-color: #E0F6F1;
}

.div__wrap{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 700px;
}

#ikkinchi{
  display: none;
}

#ikkinchiText{
  display: none;
}

@media only screen and(max-width: 1090px){

  .spacial{

    &__wrap{
      flex-direction: column;
    }

    &__img{
      width: 480px;
      height: 385px;
      object-fit: cover;
      object-position: center;
      border-radius: 16px;
    }

    &__title{
      font-weight: 400;
      font-size: 36px;
      line-height: 49px;
    }

    &__left{
      flex-direction: inherit;
    }

    &__leftBox{
      flex-direction: column;
    }
  }
}

@media only screen and(max-width: 420px){
  .spacial{

    &__left{
      flex-direction: column;
      margin: 0;
    }

    &__title{
      margin-bottom: 60px;
    }

    &__img{
      width: 100%;
    }

    &__wrap{
      width: 100%;
    }

    &__box{
      flex-direction: row;
    }

    &__price{
      margin-bottom: 32px;
    }
  }

  #ikkinchi{
    display: block;
  }

  #birinchi{
    display: none;
  }

  #ikkinchiText{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: -0.02em;
  }

  #birinchiText{
    display: none;
  }

  .div__wrap{
    flex-direction: row;
    display: flex;
    height: 300px;
    overflow-x: auto;
  }
}