.testimonals * {
	color: #07484a;
}
.testimonals {
	padding: 100px 0;
  padding-bottom: 197px;
}
.testimonals__flex-box {
	display: flex;
	align-items: center;
	gap: 97px;
}
.testimonals__title {
	font-size: 64px;
	font-family: 'Playfair Display';
}
.testimonals__text {
	font-size: 36px;
	line-height: 49.03px;
}
.top {
	margin-top: 54px;
}
.testimonals__img-box {
	position: relative;
}
.testimonals__img-box::before {
	content: '';
	position: absolute;
	top: -60px;
	left: -80px;
	display: inline-block;
	background-image: url(/icons/Quote.svg);
	background-repeat: no-repeat;
	width: 161px;
	height: 121px;
}
.center {
	text-align: center;
}
.testimonals__bottom {
	margin-bottom: 107px;
}
.testimonals__img {
	width: 421px;
	height: 410px;
	margin-bottom: 28px;
}
.testimonals__author-title {
	margin-top: 95px;
	margin-bottom: 11px;
}
.testimonals__author-title,
.testimonals__CEO-text {
	font-size: 24px;
}
.testimonals__line-box {
	@include flex;
	justify-content: center;
}
.testimonals__line-bold {
	width: 120px;
	border: 11px solid #70908b;
}
.testimonals__line {
	width: 1200px;
	border: 5px solid #07484a;
	margin-right: 78px;
}
.testimonals__line-text {
	font-family: 'Roboto';
	font-size: 18px;
	margin-right: 17px;
}
.testimonals__line-box {
	margin-top: 100px;
}
@media (max-width: 1024px) {
	.testimonals__title {
		font-size: 48px;
	}
	.testimonals__text {
		font-size: 24px;
		line-height: 29px;
	}
	.testimonals__author-title {
		margin-top: 65px;
	}
	.testimonals__line {
		width: 550px;
	}
	.testimonals__flex-box {
		gap: 51px;
	}
	.testimonals__img-box::before {
		left: -30px;
	}
}
@media (max-width: 768px) {
  .testimonals {
    padding-bottom: 177px;
  }
	.top {
		font-size: 18px;
	}
	.testimonals__flex-box {
		gap: 32px;
	}
	.testimonals__text {
		line-height: 23px;
	}
	.testimonals__author-title {
		margin-top: 32px;
	}
	.testimonals__line {
		width: 350px;
	}
}
@media (max-width: 730px) {
  .testimonals {
    padding-bottom: 157px;
  }
	.testimonals__title {
		font-size: 36px;
		margin-bottom: 16px;
	}
	.testimonals__text {
		font-size: 18px;
		margin-top: 0;
	}
	.testimonals__flex-box {
		flex-direction: column;
	}
	.testimonals__img-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	.testimonals__arrow,
	.testimonals__line-text {
		display: none;
	}
	.testimonals__img {
		width: 288px;
		height: 273px;
	}
	.testimonals__icon {
		width: 110px;
		height: 80px;
	}
	.testimonals__author-title {
		margin-top: 24px;
	}
	.testimonals__line-box {
		margin-top: 44px;
	}
	.testimonals__img-box::before {
		left: -15px;
	}
  .testimonals__line {
    margin: 0;
  }
}
